.checkboxes{
    display: flex;
    width: 300px;
    justify-content: space-between;  
    margin-left: 50px;  
}
.checkbox{
    width: 20px;
    height: 20px;
    border: 1px solid lightblue;
    border-radius: 2px;
}
.active::after {
    content: "";
    display: inline-block;
    height: 8px;
    width: 18px;
    border-left: 2px solid dodgerblue;
    border-bottom: 2px solid dodgerblue;
    margin: 2px;    
    transform: rotate(-45deg);
}